.features {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

#contain {
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MarriageImages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.brides-images img {
  width: 500px;
  height: 500px;
}

@media (max-width: 450px) {
  .MarriageImages {
      background-color: #fef2e8b5;
      margin: 0;
  }
  .brides-images img {
      width: 100%;
      height: auto;
      max-width: 370px;
      max-height: 370px;
  }
}

@media (max-width: 768px) {
  .mobilepic {
      width: 100%;
  }
}
